<h1>Welcome to LooKup, the revolutionary way to view links directly while chatting!</h1>


<h2>We are in closed beta. Please enter your key to get into the site.</h2>



<form action="/login" method="POST">
    <input type="text" name="Authentication Key" placeholder="Enter the key provided.">
    <br>
    <button type="submit">Submit</button>
</form>